{% extends "layout.html" %}
{% block body %}

      <div class="starter-template">
        {% if error %}
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           {{error}}
        </div>
        {% endif %}
        <h2>A Spotify Mixtape Generator</h2>
        <p>
          Enter any song by any artist, adjust the setting sliders, and watch your custom mix be generated.
        </p>
        <br />
        <br />
        <form id="playlist" name="playlist" action="/generate" method="post">
          <div class="input-group">
            <span class="input-group-addon">Artist</span>
            <input type="text" class="form-control" id="artist" name="artist" placeholder="Anamanaguchi">
            <span style="border: 0" class="input-group-addon">Title</span>
            <input type="text" class="form-control" id="track" name="track" placeholder="Endless Fantasy">
          </div>
          <br />
          <!--<div class="input-group">
            <span class="input-group-addon">Energy</span>
            <input type="text" class="form-control" id="bpm-val" name="bpm" value="2">
          </div>
          <br />
          <div id="bpm-slider"></div>
          <br />-->
          <div id="left-slide">
          <div class="input-group">
           <span style="border: 1px solid #dce4ec;border-right:0 !important;" class="input-group-addon">Diversity</span>
            <input type="text" style="border-bottom-right-radius: 0;border-top-right-radius: 0;" class="white-bg form-control disabled" id="diversity-val" name="diversity" value="2" readonly>
          </div>
          <br />
          <div id="diversity-slider"></div>
          </div>
          <div id="right-slide">
          <div class="input-group">
            <span class="input-group-addon" style="border-left:0;border-bottom-left-radius: 0;border-top-left-radius: 0;">Max Tracks</span>
            <input type="text" class="white-bg form-control disabled" id="tracks-val" name="tracks" value="8" readonly>
          </div>
          <br />
          <div id="tracks-slider"></div>
          </div>
          <br />
          <input id="submitbutton" type="submit" class="btn btn-success btn-lg has-spinner" value="Make me a mixtape!" />
          <img id="daspinnerid" class="daspinner gone" src="../static/images/spinner.gif" />
        </form>

      </div>
      <img class="hello"  id="mixtape" src="../static/images/mixtape.png" />
      <img class="byebye" id="mixmove" src="../static/images/mixmove.gif" />

      <script>
    // update diversity based on slider
    $(function() {
      $( "#diversity-slider" ).slider({
        range: "min",
        value: 0,
        min: 0,
        max: 1,
        step: 1,
        slide: function( event, ui ) {
          $( "#diversity-val" ).val( ui.value );
        }
      });
      $( "#diversity-val" ).val( $( "#diversity-slider" ).slider( "value" ));
    });
    // update tracks based on slider
    $(function() {
      $( "#tracks-slider" ).slider({
        range: "min",
        value: 8,
        min: 6,
        max: 14,
        step: 2,
      slide: function( event, ui ) {
          $( "#tracks-val" ).val( ui.value );
        }
      });
      $( "#tracks-val" ).val( $( "#tracks-slider" ).slider( "value" ));
    });

    // button spinner on click
    $(function(){
      $('#submitbutton').click(function() {
          $('#submitbutton').attr('disabled', 'disabled');
          $('#mixtape').toggleClass('hello').toggleClass('byebye'); // dont put into one call
          $('#mixmove').toggleClass('hello').toggleClass('byebye'); // "
          $('#playlist').delay(100).submit();
      });
    })
    </script>

{% endblock %}