{% extends "layout.html" %}
{% block body %}

      <div class="starter-template">
        <h1>Customize Your Playlist</h1>
        <form id="playlist" name="playlist" action="/generate" method="post">
          <div class="input-group">
            <span class="input-group-addon">Artist</span>
            <input type="text" class="form-control" id="artist" name="artist" placeholder="Anamanaguchi">
            <span class="input-group-addon">Track</span>
            <input type="text" class="form-control" id="track" name="track" placeholder="Endless Fantasy">
          </div>
          <br />
          <!--<div class="input-group">
            <span class="input-group-addon">Energy</span>
            <input type="text" class="form-control" id="bpm-val" name="bpm" value="2">
          </div>
          <br />
          <div id="bpm-slider"></div>
          <br />-->
          <div class="input-group">
            <span class="input-group-addon">Diversity</span>
            <input type="text" class="form-control" id="diversity-val" name="diversity" value="2">
          </div>
          <br />
          <div id="diversity-slider"></div>
          <br />
          <div class="input-group">
            <span class="input-group-addon"># Tracks</span>
            <input type="text" class="form-control" id="tracks-val" name="tracks" value="8">
          </div>
          <br />
          <div id="tracks-slider"></div>
          <br />
          <input id="submitbutton" type="submit" class="btn btn-primary btn-lg has-spinner" value="Make a playlist!" />
          <img id="daspinnerid" class="daspinner gone" src="../static/css/spinner.gif" />
        </form>

      </div>

      <script>
      // check if jQuery loaded
    //if (typeof jQuery != 'undefined') {
      // jQuery is loaded => print the version
      //alert(jQuery.fn.jquery);
    //}
    // update bpm input based on sliders
    /*$(function() {
      $( "#bpm-slider" ).slider({
        range: "min",
        value: 2,
        min: 1,
        max: 3,
        step: 1,
        slide: function( event, ui ) {
          $( "#bpm-val" ).val( ui.value );
        }
      });
      $( "#bpm-val" ).val( $( "#bpm-slider" ).slider( "value" ));
    });*/
    // update diversity based on slider
    $(function() {
      $( "#diversity-slider" ).slider({
        range: "min",
        value: 2,
        min: 1,
        max: 3,
        step: 1,
        slide: function( event, ui ) {
          $( "#diversity-val" ).val( ui.value );
        }
      });
      $( "#diversity-val" ).val( $( "#diversity-slider" ).slider( "value" ));
    });
    // update tracks based on slider
    $(function() {
      $( "#tracks-slider" ).slider({
        range: "min",
        value: 8,
        min: 6,
        max: 14,
        step: 2,
      slide: function( event, ui ) {
          $( "#tracks-val" ).val( ui.value );
        }
      });
      $( "#tracks-val" ).val( $( "#tracks-slider" ).slider( "value" ));
    });

    // button spinner on click
    $(function(){
      $('#submitbutton').click(function() {
          $('#daspinnerid').toggleClass('gone');
          $('#submitbutton').attr('disabled', 'disabled');
          $('#playlist').delay(100).submit();
      });
    })
    </script>

{% endblock %}